  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

  :root {
      --font-color: rgb(42, 42, 61);
      --header-color: rgb(38, 38, 88);
      --lt-gray: #eeeeee;
  }

  *, :before, :after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      transition-duration: 50ms;
  }

  html {
    scroll-behavior: smooth;
  }
  body {
      font-family: Roboto, sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: var(--font-color);
  }

  h1,
  h2,
  h3 {
      color: var(--header-color);
      line-height: 2;
  }

  .container {
      max-width: 1200px;
      width: 100%;
      padding: 20px;
      margin: 0 auto;
  }

  .container-fluid {
    width: 100%;
    padding: 20px;
    margin: auto;
}

.container-sm {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin: auto;
}

.btn {
  padding: 10px 20px;
  border: solid 1px #c3c3c3;
  border-radius: 0;
  margin: 2px;
  cursor: pointer;

  &:hover {
    opacity: 70%;
  }
}

  header {
      background-color: rgb(42, 42, 224);

      h1 {
          color: #fff;
      }


  }

  .layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    position: relative;
  }
 
  
  .star-rating {
    .active {
      color: #fff700;
    }
    .inactive {
      
    }
  }

  @media (max-width: 768px) {
    .layout {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
}